.bg-alabaster {
    background-color: var(--alabaster);
}

.text-dove-gray {
    color: var(--dove-gray);
}

.text-silver-chalice {
    color: var(--silver-chalice);
}

.text-sushi {
    color: var(--sushi);
}

.text-mine-shaft {
    color: var(--mine-shaft);
}

.intro-img {
    background: url("../img/intro-bg.png") no-repeat center;
    width: 752px;
    height: 491px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
}