.bg-alabaster {
    background-color: var(--alabaster);
}

.bg-white {
    background-color: var(--white);
}

.text-dove-gray {
    color: var(--dove-gray);
}

.text-silver-chalice {
    color: var(--silver-chalice);
}

.text-sushi {
    color: var(--sushi);
}

.text-shark {
    color: var(--shark)
}

.text-mine-shaft {
    color: var(--mine-shaft);
}

.text-emperor {
    color: var(--emperor);
}

.text-gray {
    color: var(--gray);
}

.text-black {
    color: var(--black);
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
}

.section-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.btn-outline-success {
    color: var(--sushi);
    border-color: var(--sushi);
    border-radius: 3px;
    width: 288px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-outline-success:hover, .btn-outline-success:focus {
    color: var(--white);
    background-color: var(--sushi);
    border-color: var(--sushi);
}

.btn-success {
    color: var(--white);
    background-color: var(--sushi);
    border-color: var(--sushi);
    border-radius: 3px;
    width: 288px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-dark {
    background: var(--mine-shaft);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 3px;
    width: 182px;
}

.input::placeholder {
    color: var(--iron);
}

.input {
    background: var(--white);
    border-radius: 3px;
    border: none;
    color: var(--mine-shaft);
    padding-top: 9px;
    padding-bottom: 9px;
}

.input-group {
    width: 409px;
}

.input-group.success, .input-group.error {
    position: relative;
}

.input-group.success:after, .input-group.error:after {
    content: '';
    width: 3px;
    display: block;
    height: 42px;
    border-radius: 3px 0px 0px 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.input-group.success:after {
    background: var(--sushi);
}

.input-group.error:after {
    background: var(--guardsman-red);
}

.input-group input, .input-group input:focus,  .input-group textarea,  .input-group textarea:focus {
    border: none;
    background: var(--alabaster);
    border-radius: 3px;
    height: calc(1.5em + .75rem + 6px);
    outline: none;
}

.input-group textarea {
    resize: none;
    width: 100%;
    min-height: 215px;
}


button:focus , input:focus {
    outline: none!important;
    box-shadow: none!important;
}

.name-page {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}

@media (max-width: 1023px) {
    .input-group {
        width: 100%;
    }
}