:root {
    --alabaster: #F8F8F8;
    --dove-gray: #737373;
    --sushi: #69BB37;
    --mine-shaft: #2B2B2B;
    --silver-chalice: #ABABAB;
    --black: #000000;
    --concrete: #F3F3F3;
    --emperor: #4F4F4F;
    --white: #ffffff;
    --gray: #898686;
    --iron: #CBCFD4;
    --alto: #D5D5D5;
    --mercury: #E3E3E3;
    --gallery: #EDEDED;
    --shark: #1B1F25;
    --oslo-gray: #838689;
    --pale-sky: #717377;
    --abbey: #4A4D53;
    --silver: #C7C7C7;
    --guardsman-red: #D00303;
}