header {
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.header-top nav .nav-link, .header-top span{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.header-top nav .nav-link:focus, .header-top nav  .nav-link:hover, .header-top nav .nav-link.active {
    text-decoration: underline;
    color: var(--black);
}

.header-bottom {
    position: relative;
}

.header-bottom .nav-link.active, .header-bottom .nav-link:focus, .header-bottom .nav-link:hover {
    color: var(--sushi);
}

.header-bottom .nav-link, .header-bottom .search {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.header-bottom .icon-cart, .header-bottom .icon-user {
    cursor: pointer;
}
.header-bottom .icon-cart:focus, .header-bottom .icon-cart:hover, .header-bottom .icon-user:focus, .header-bottom .icon-user:hover {
    background-color: var(--sushi);
}

#nav-tab_content.show_block {
    position: absolute;
    width: 100%;
    top: 52px;
    background: var(--white);
    padding: 38px 0 75px 81px;
    left: 0;
}

#nav-tab_content .subcategories-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#nav-tab_content .subcategories-link:focus, #nav-tab_content .subcategories-link:hover {
    color: var(--sushi);
    text-decoration: none!important;
}

#nav-tab_content .tab-pane.active {
    display: flex;
}

.block-search {
    position: relative;
}

.search {
    width: 367px;
    line-height: 20px;
    background-color: var(--concrete);
    color: var(--mine-shaft);
    border: none;
    padding-left: 56px;
}

.block-search:before {
    position: absolute;
    display: block;
    content: '';
    background: url("../img/icons/icon-search.svg") no-repeat center;
    width: 24px;
    height: 24px;
    top: 16px;
    left: 16px;
}

