.custom-modal .modal-dialog {
    margin-top: 100px;
    max-width: max-content;
}
.custom-modal .modal-content >* {
    font-family: "Open Sans", sans-serif;
}

.custom-modal .modal-content{
    padding: 40px 130px;
}

#callBackModal .modal-content {
    padding: 108px 130px;
}

#parametersModal .modal-content {
    padding: 80px 88px;
    background: var(--white);
}

#addProductInCart .modal-content {
    padding: 18px 0;
    background: var(--white);
}

.custom-modal .modal-content .container-modal-content {
    width: 400px;
}

.custom-modal .modal-content .title-modal {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.custom-modal .modal-content  .label-input {
    font-weight: normal;
    font-size: 16px;
}

.custom-modal .modal-content  .label-input span {
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
    padding-top: 5px;
}

.custom-modal .modal-content .main-text {
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.custom-modal .modal-content .info-text {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    word-break: break-all;
    max-width: 350px;
}

.custom-modal .modal-content .icon-eye {
    position: absolute;
    top: 43px;
    right: 16px;
    cursor: pointer;
}

.custom-modal .modal-content .icon-eye:hover, .modal-content .icon-eye:focus {
    background-color: var(--black);
}

#parametersModal .modal-header {
    position: absolute;
    z-index: 2;
    height: 20px;
    right: 22px;
    padding: 0;
    background: transparent;
    border: none;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parametersModal .modal-header .modal-title {
    display: none;
}

#parametersModal .modal-header .close, #addProductInCart .modal-header .close {
    display: block;
    font-family: initial;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
    color: var(--silver-chalice);
    opacity: 1;
}

#parametersModal .modal-header .close:not(:disabled):not(.disabled):focus,
#parametersModal .modal-header .close:not(:disabled):not(.disabled):hover,
#addProductInCart .modal-header .close:not(:disabled):not(.disabled):focus,
#addProductInCart .modal-header .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
    color: var(--mine-shaft);
}

#parametersModal .modal-content .container-modal-content {
    width: auto;
}

#addProductInCart .modal-header {
    border: none;
    position: relative;
}

#addProductInCart .modal-header .close {
    position: absolute;
    right: 24px;
    top: -3px;
}

#addProductInCart .modal-header .modal-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

#addProductInCart .container-modal-footer .total-price {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#addProductInCart .product-preview {
    width: auto;
    border-radius: 0;
    margin-right: 0;
}

#addProductInCart .product-preview img {
    width: 210px;
    object-fit: contain;
}

#addProductInCart .product-preview .product-info {
    height: initial;
    border-radius: 0;
    padding: 16px 8px 0 24px;
}

#addProductInCart .product-preview p {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
}
#addProductInCart .product-preview p.product-title {
    font-size: 14px;
    font-weight: 600;
}

#addProductInCart .modal-content .container-modal-content {
    width: 600px;
}
