.section-catalog-product-preview .current-categories-name {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.section-catalog-product-preview .num-product {
    font-family: "Opefilter-checkn Sans", sans-serif;
    font-size: 12px;
}

.section-catalog-product-preview .block-sort, .section-catalog-product-preview .block-filter-check {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

.section-catalog-product-preview .block-sort a {
    color: var(--silver-chalice);
}

.section-catalog-product-preview .block-sort a.active, .section-catalog-product-preview .block-sort a:hover,
.section-catalog-product-preview .block-sort a:focus {
    color: var(--mine-shaft);
    text-decoration: underline;
}

.section-catalog-product-preview .filter-check {
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 13px;
    cursor: pointer;
}
.section-catalog-product-preview .filters-close {
    cursor: pointer;
}