.section-intro {
    margin-top: 90px;
    padding-bottom: 40px;
}

.section-intro .block-intro-text {
    max-width: 410px;
    margin-top: 55px;
}

.wave-bg {
    background: url(../img/wave-bg.svg) no-repeat bottom;
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
    background-size: contain;
    position: absolute;
    z-index: 3;
    bottom: -0px;
}

.intro-img {
    background: url("../img/intro-bg.png") no-repeat center;
    max-width: 752px;
    height: 491px;
    background-size: cover;
}

