.section-blog {
    padding-bottom: 100px;
}

.section-blog .block-blog {
    width: 49.5%;
    padding-bottom: 48px;
}

.section-blog .block-blog3 {
    width: 32.7%;
    padding-bottom: 48px;
}

.section-blog .category-blog {
    min-height: 50px;
}

.section-blog  .blog-link {
    font-family: "Open Sans", serif;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.section-blog  .blog-link:focus, .section-blog  .blog-link:hover {
    color: var(--mine-shaft);
}
