.section-contact-us-info .block-contact-us-info {
    max-width: 290px;
}

.section-contact-us-info .block-contact-us-info p{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.section-contact-us-info .block-contact-us-info p span, .section-contact-us-info .block-contact-us-info p a {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-transform: initial;
}

.section-contact-us-info .block-contact-us-info p a:hover,
.section-contact-us-info .block-contact-us-info p a:focus {
    color: var(--mine-shaft);
}

.map {
    background: url("../img/map.png") no-repeat center;
    width: 730px;
    height: 465px;
    background-size: contain;
    position: absolute;
    bottom: -100px;
    right: 145px;
}

@media (max-width: 1200px) {
    .map {
        right: 35px;
        max-width: 730px;
        width: calc(100% - 50px);
    }
}